<section class="section">
    <div class="container">
        <a class="button is-success" routerLink="/add-user">Add User</a>
    </div>
  </section>
<table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a class="button is-primary is-outlined" (click)="editCategory(user.id)">Edit</a>
          <a class="button is-danger is-outlined" (click)="deleteCategory(user.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
    